# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\research\process-raw-data\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
